@import './variables.scss';
@import './reset.scss';
@import './base.scss';
:root {
  --site-width: 1200px;
  --color-background: #FFFFFF;
}

@font-face {
  font-family: 'Oswald';
  src: url('../assets/fonts/Oswald-SemiBold.ttf');
}

@font-face {
  font-family: 'Oswald-Bold';
  src: url('../assets/fonts/Oswald-Bold.ttf');
}

@font-face {
  font-family: 'Commissioner';
  src: url('../assets/fonts/Commissioner-Medium.ttf');
}