Options All -ExecCGI -Indexes -Includes +FollowSymLinks

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/css text/html text/xml text/javascript text/plain application/javascript
  AddOutputFilterByType DEFLATE image/svg+xml image/x-icon
  AddOutputFilterByType DEFLATE font/opentype font/otf font/ttf
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteBase /
  RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
  RewriteRule ^ /%1 [NC,L,R]
  RewriteCond %{THE_REQUEST} /([^.]+)index$ [NC]
  RewriteRule ^ /%1 [NC,L,R]
  RewriteCond %{REQUEST_FILENAME}.html -f
  RewriteRule ^ %{REQUEST_URI}.html [NC,L]
</IfModule>

DirectoryIndex index.html

<IfModule mod_setenvif.c>
  SetEnv TZ Europe/Moscow
</IfModule>
ServerSignature Off

<ifModule mod_headers.c>
  <FilesMatch "\.(html|htm)$">
    Header set Cache-Control "max-age=302400"
  </FilesMatch>
  <FilesMatch "\.(js|css)$">
    Header set Cache-Control "max-age=604800"
  </FilesMatch>
  <FilesMatch "\.(ico|gif|jpg|jpeg|png|svg|webm)$">
    Header set Cache-Control "max-age=604800"
  </FilesMatch>
</IfModule>

# Bad Rquest
ErrorDocument 400 /test/en/400.html
ErrorDocument 401 /test/en/index.html
ErrorDocument 403 /test/en/index.html
ErrorDocument 404 /test/en/index.html
ErrorDocument 405 /test/en/index.html
ErrorDocument 408 /test/en/index.html
ErrorDocument 414 /test/en/index.html
ErrorDocument 500 /test/en/index.html
ErrorDocument 501 /test/en/index.html
ErrorDocument 502 /test/en/index.html
ErrorDocument 503 /test/en/index.html
ErrorDocument 504 /test/en/index.html
