.background {
  &_left_1,
  &_left_2,
  &_right_1,
  &_right_2 {
    position: absolute;
    z-index: -1;
  }

  &_left_1 {
    top: 450px;
    left: -50px;
  }

  &_left_2 {
    top: 1200px;
    width: 100px;
    left: 0;
  }

  &_right_1 {
    top: 110px;
    width: 50px;
    right: 0;
  }

  &_right_2 {
    top: 950px;
    width: 80px;
    right: 0;
  }
}
