.button,
.button_link {
  font-size: 14px;
  font-weight: 100;

  display: inline-block;
  padding: 12px 24px;
  margin: 0 0 16px 0;
  min-width: 160px;

  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  line-height: 16px;
  border-radius: 0;
  background-color: transparent;

  border: 2px solid var(--color-main);
  box-shadow: -5px 5px 0 var(--color-main);
  color: var(--color-main);

  &:hover {
    box-shadow: -5px 5px 0 black;
    color: white;
    background-color: var(--color-main);
  }

  &_link {
    color: black;
    box-shadow: none;
    border: 2px solid transparent;

    &:hover {
      box-shadow: none;
      text-decoration: underline;
      color: black;
      background-color: transparent;
    }
  }
}

.button_link:after {
  content: "";

  display: inline-block;
  height: 12px;
  width: 22px;
  margin: 2px 0 0 8px;

  vertical-align: top;
  box-sizing: border-box;
  background-size: 100%;
  background-image: url('../../../../assets/arrow.png');
  background-position: center center;
  background-repeat: no-repeat;
}
