.footer {
    display: block;
    padding: 0;
    margin: 24px auto 0;
    text-align: center;
    border-top: 1px solid #DDDDDD;
}

.footer_top {
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: 800px;
    padding: 24px 0;
    margin: 0 auto;

    white-space: nowrap;

    border-bottom: 1px solid #DDDDDD;
}

.footer_nav {
    display: inline-block;
    width: max-content;
    box-sizing: border-box;
    vertical-align: top;
    white-space: normal;
}

.footer_list {
    display: block;
    margin: 0;
    padding: 0;
}

.footer_list_item {
    list-style-type: none;
    text-align: left;
}

.footer_bottom,
.footer_title,
.footer_link {
    font-size: 16px;
    font-weight: 100;

    display: block;
    width: 100%;
    margin: 0 auto 12px;

    line-height: 1.5;
    text-align: left;
    box-sizing: border-box;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;

    color: #3C3C3D;
}

.footer_title {
    font-weight: bold;
}

.footer_link:hover {
    text-decoration: underline;
    background-color: #EEEEEE;
}

.footer_bottom {
    display: block;
    width: 100%;
    max-width: 800px;
    padding: 12px 0;
    margin: 0 auto;
    text-align: right;
}

@media (max-width: 900px) {
    .footer_top {
        display: block;
        width: 100%;
        padding: 0;
        white-space: normal;
        border: none;
    }

    .footer_nav {
        display: block;
        width: 100%;
        padding: 12px 24px;
    }

    .footer_nav:nth-child(2n+1) {
        background-color: #EEEEEE;
    }

    .footer_bottom,
    .footer_title,
    .footer_link {
        padding: 12px 0;
        margin: 0 auto;
    }

    .footer_bottom {
        padding: 12px 24px;
    }
}
